@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background-color: #e8eef5;
  color: #0f141e;
  font-size: 16px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
}
a {
  color: #7fa0b6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: rgb(0, 3, 169);
}

.second-link {
  color: #6d6d6d;
}
/*a:visited {
  
  color: #777777;
}*/

.avatar {
  width: 200px;
  border-radius: 15px;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.info p {
  color: #839dae;
  margin: 0;
  font-style: italic;
}

.info {
  display: flex;
  margin-bottom: 40px;
}

.info-text {
  margin-left: 40px;
}

.info-text h4 {
  /*padding: 20px 0px 0px;*/
  margin-bottom: 10px;
  margin-top: 35px;
}

/*box model*/

.container {
  max-width: 750px;
  margin: auto;
  padding-top: 20px;
}

/*.social {
background-color: #a0d9e8;
padding: 10px;
border: 5px solid red;

margin: 5px;
}
*/
/*font-family: 'Courier New', Courier, monospace;*/
.bg-yellow {
  background: rgba(113, 137, 255, 0.125);
}

.bg-blue {
  background: rgba(108, 216, 255, 0.235);
}

.bg-green {
  background: rgba(242, 250, 94, 0.248);
}

.card {
  padding: 10px 20px;
  /*margin-bottom: 20px;*/
  border-radius: 20px;
  margin-top: 20px;
}
.card h2 {
  margin-bottom: 20px;
}

.list {
  padding: 0 20px;
}

.list li {
  color: #86868f;
  margin-bottom: 5px;
}

.table {
  width: 110%;
}

.table td {
  padding-bottom: 1px;
}

.table td:nth-child(1) {
  color: #373737;
}

.table td:nth-child(2) {
  color: #86868f;
}

.table td:nth-child(3) {
  color: #373737;
}
/*.table tr:nth-child(even){
  background-color: aqua;
}*/
.link-list {
  list-style: none;
  padding: 0;
}
.link-list li {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #bee3bf;
}

/*.contact {
  margin-top: 30px;
}*/

.contact h2 {
  text-align: center;
  margin-top: 30px;
}

.form-group label {
  display: block;
  font-size: 14px;
  color: #313131;
}

.form-group input,
.form-group textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: transparent;
  border-bottom: 1px solid #ccc;
  color: #000000;
  padding: 15px 0 10px;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-style: oblique;
}

.row {
  display: flex;
  margin-bottom: 20px;
}

.row > .form-group {
  width: 50%;
  margin-top: 30px;
}

.row > .form-group:first-child {
  margin-right: 20px;
}

.btn {
  padding: 10px 15px;
  background: #111;
  color: #ffffff;
  border: none;
  font-family: inherit;
  cursor: pointer;
  margin-top: 5px;
}
